body{
    text-align: center;
    margin: auto;
    background-color: bisque;
}
#srgl,#kcg,#aym{
    display: inline-block;
    margin: auto;
    width: 50%;
    color: aqua;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background: greenyellow;
    height: 600px;
    cursor: pointer;

}